.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.gallery {
    align-content: space-between;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-flow: column;
    gap: 30px;
    width: 100%;
}

.modalStyle {
    background-color: #4a5370;
    color: #fff;
}

.modalStyle .ant-modal-body {
    background-color: #4a5370;
    color: #fff;
    padding-bottom: 0;
}

.modalStyle .ant-modal-footer {
    background-color: #4a5370;
    color: #fff;
    border-top: none;
    border-radius: 0;
    padding: 24px;
}

.details-upload {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 1rem;
    width: 60%;
    height: 100%;
    margin-right: 3rem;
}

.details-newstream {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 1rem;
    width: 45%;
    height: 100%;
}

.upload-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.vid-upload-box {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
}

.widgets {
    width: 100%;
    height: 100%;
    max-height: 540px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.5rem;
    border-radius: 10px;
    background: #2B305C;
    color: #fff;
}


.history-table {
    width: 100%;
    max-height: 330px;
    background-color: #2B305C;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /*overflow: scroll;*/
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.column {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dashboard {
    width: calc(100% + 20px);
}

.feed-card {
    flex-direction: column;
    height: 100%;
}

.feed-img:hover {
    transform: scale(1.01);
    -webkit-filter: brightness(60%);
    transition: transform 100ms ease-in;
}

.feed-img {
    -webkit-filter: brightness(80%);
    box-shadow: 0 2px 25px #494e65;
    /*max-width: 525px;*/
    /*max-height: 350px;*/
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    margin-bottom: 5px;
}

.stream-name {
    width: 100%;
    font-family: Lato Bold, sans-serif;
    color: #fff;
    font-size: calc(18px + .2vw);
    line-height: calc(28px + .2vw);
    margin-bottom: 0;
}

.stream-location {
    width: 100%;
    font-family: Lato, sans-serif;
    color: #a8adb7;
    font-size: calc(12px + .2vw);
}
