.stream-card-wrapper {
  flex-direction: column;
}

.stream-img:hover {
  transform: scale(1.01);
  -webkit-filter: brightness(60%);
  transition: transform 200ms ease-in;
}

.stream-img {
  -webkit-filter: brightness(80%);
  box-shadow: 0 2px 25px #494e65;
  max-width: 339px;
  max-height: 243px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  margin-bottom: 5px;
  height: 15em;
}

.stream-name {
  width: 100%;
  font-family: Lato Bold, sans-serif;
  color: #fff;
  font-size: calc(18px + .2vw);
  line-height: calc(28px + .2vw);
  margin-bottom: 0;
}

.stream-location {
  width: 100%;
  font-family: Lato, sans-serif;
  color: #a8adb7;
  font-size: calc(12px + .2vw);
}

.person-card {
  color: #fff;
  background-color: #2B305C;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.person-card:hover {
  /*transform: scale(1.005);*/
  box-shadow: 0 2px 20px rgba(121, 111, 203, 0.64);
  transition: transform 50ms ease-in;
}

.person-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 1rem;
  height: 100%;
  width: 70%;
}

.person-img-card {
  object-fit: cover;
  object-position: center;
}

.playback-card {
  width: 160px;
  color: #fff;
  background-color: #2B305C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.playback-card:hover {
  /*transform: scale(1.005);*/
  box-shadow: 0 2px 20px rgba(121, 111, 203, 0.64);
  transition: transform 50ms ease-in;
}

.playback-details {
  display: block;
  padding: 0.8rem;
  flex-direction: column;
  align-items: flex-start;
  width: 160px;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

