.blacklist-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height : 100vh;
    background: #1A1C37
}

.blacklist-mainbody {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.blacklist-gallery {
    align-content: space-between;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 16px;
    width: 100%;
}