.App {
  text-align: center;
  background: radial-gradient(farthest-side at 10px 60px,#58a5d1,#e8c2e9);
  height: 100vh;
  min-height : 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background: radial-gradient(farthest-side at 10px 60px,#58a5d1,#e8c2e9);*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
