.details-card {
    width: 65%;
    height: 100%;
    background-color: #2B305C;
    border-radius: 8px;
    margin-right: 1.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.upload-card {
    width: 35%;
    height: 100%;
    background-color: #2B305C;
    border-radius: 8px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.person-img {
    object-fit: cover;
    object-position: center;
}

.details-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 2rem;
    height: 100%;
    width: 85%;
}

.upload-box {
    font-family: Lato, sans-serif;
    padding: 1rem;
}


