.anticon:hover {
    transition: all 0.2s ease-in-out;
    color: rgb(173, 172, 231) !important;
}

.popover-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    align-items: end;
}

.user {
    display: flex;
    flex-direction: row;

}