.page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height : 100vh;
    background: #48509b;
    /*background: radial-gradient(farthest-corner at 50% 90%,#e8c2e9, #58a5d1);*/
}

.mainbody {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: rgba(40,37,58,0.75);
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #ffffff !important;
    font-size: 18px;
    font-weight: 500 ;
}

.ant-tabs-tab .ant-tabs-tab-btn {
    color: #a8adb7 !important;
    font-size: 18px;
    font-weight: 500;
}

.ant-tabs-ink-bar {
    position: absolute;
    background: #adace7 !important;
    pointer-events: none;
}
